DATABASE_URL="postgresql://grocery_user:grocery_password@localhost:6432/grocery_db?schema=public&pgbouncer=true&connection_limit=20&connect_timeout=5&statement_timeout=5000"
DIRECT_DATABASE_URL="postgresql://grocery_user:grocery_password@localhost:5433/grocery_db?schema=public&connect_timeout=5&statement_timeout=5000"
PORT=3000
REDIS_URL="redis://localhost:6379"
NODE_ENV="development"
