DATABASE_URL="postgresql://grocery_user:grocery_password@localhost:6432/grocery_db?schema=public&pgbouncer=true"
DIRECT_DATABASE_URL="postgresql://grocery_user:grocery_password@localhost:5432/grocery_db?schema=public"
PORT=3000
REDIS_URL="redis://localhost:6379"
NODE_ENV="development"
